In [1]:
import pandas as pd
from sqlalchemy import create_engine
from Config import password

In [4]:
worship_csv = "Resources/All_Places_of_Worship.csv"
worship_df = pd.read_csv(worship_csv)

gun_csv = "Resources/gun-violence-data_01-2013_03-2018.csv"
gun_df = pd.read_csv(gun_csv)

states_csv = "Resources/states.csv"
states_df = pd.read_csv(states_csv)

In [5]:
states_df

                   state Abbreviation
0                Alabama           AL
1                 Alaska           AK
2         American Samoa           AS
3                Arizona           AZ
4               Arkansas           AR
5             California           CA
6               Colorado           CO
7            Connecticut           CT
8               Delaware           DE
9   District of Columbia           DC
10               Florida           FL
11               Georgia           GA
12                  Guam           GU
13                Hawaii           HI
14                 Idaho           ID
15              Illinois           IL
16               Indiana           IN
17                  Iowa           IA
18                Kansas           KS
19              Kentucky           KY
20             Louisiana           LA
21                 Maine           ME
22      Marshall Islands           MH
23              Maryland           MD
24         Massachusetts           MA
25              Michigan           MI
26             Minnesota           MN
27           Mississippi           MS
28              Missouri           MO
29               Montana           MT
30              Nebraska           NE
31                Nevada           NV
32         New Hampshire           NH
33            New Jersey           NJ
34            New Mexico           NM
35              New York           NY
36        North Carolina           NC
37          North Dakota           ND
38                  Ohio           OH
39              Oklahoma           OK
40                Oregon           OR
41                 Palau           PW
42          Pennsylvania           PA
43           Puerto Rico           PR
44          Rhode Island           RI
45        South Carolina           SC
46          South Dakota           SD
47             Tennessee           TN
48                 Texas           TX
49                  Utah           UT
50               Vermont           VT
51        Virgin Islands           VI
52              Virginia           VA
53            Washington           WA
54         West Virginia           WV
55             Wisconsin           WI
56               Wyoming           WY

In [6]:

gun_tab = gun_df[["state", "n_killed", "n_injured"]].copy()
gun_tab = gun_tab.groupby("state").sum()
gun_tab

                      n_killed  n_injured
state
Alabama                   1880       2998
Alaska                     267        325
Arizona                   1094       1096
Arkansas                   773       1347
California                5562       7644
Colorado                   796       1133
Connecticut                341       1258
Delaware                   217        853
District of Columbia       459       1415
Florida                   3909       7072
Georgia                   2456       4056
Hawaii                      63         85
Idaho                      166        149
Illinois                  3409      13514
Indiana                   1608       2956
Iowa                       273        821
Kansas                     542        931
Kentucky                  1066       1894
Louisiana                 2179       4398
Maine                      112        132
Maryland                  1691       3167
Massachusetts              472       1701
Michigan                  1588       2990
Minnesota                  461        916
Mississippi               1176       1883
Missouri                  2136       3585
Montana                    154        136
Nebraska                   225        674
Nevada                     799        951
New Hampshire               88        144
New Jersey                1168       2540
New Mexico                 495        543
New York                  1705       5059
North Carolina            2225       4629
North Dakota                69        130
Ohio                      2508       5703
Oklahoma                   941       1550
Oregon                     446        694
Pennsylvania              2395       5056
Rhode Island                63        346
South Carolina            1610       3084
South Dakota                90        114
Tennessee                 1824       4478
Texas                     5046       6106
Utah                       282        402
Vermont                     57         73
Virginia                  1459       3566
Washington                 853       1287
West Virginia              335        649
Wisconsin                  862       2117
Wyoming                     73         52

In [7]:
worship_tab = worship_df[["Abbreviation", "ID"]].copy()
worship_tab = worship_tab.groupby("Abbreviation").count()

In [8]:
full_df = gun_tab.merge(states_df, on = 'state')
full_df.set_index("Abbreviation")

full_df = full_df.merge(worship_tab, on = "Abbreviation")

full_df = full_df.rename(columns = {"ID":"Worship_Numbers"})
full_df.set_index("Abbreviation")

full_df["Total_Average"] = (full_df.n_killed+full_df.n_injured)/full_df["Worship_Numbers"]
full_df["Average_Injured"] = (full_df.n_injured)/full_df["Worship_Numbers"]
full_df["Average_Killed"] = (full_df.n_killed)/full_df["Worship_Numbers"]
full_df

,state,n_killed,n_injured,Abbreviation,Worship_Numbers,Total_Average,Average_Injured,Average_Killed
0,Alabama,1880,2998,AL,1608,3.033582,1.864428,1.169154
1,Alaska,267,325,AK,152,3.894737,2.138158,1.756579
2,Arizona,1094,1096,AZ,956,2.290795,1.146444,1.144351
3,Arkansas,773,1347,AR,612,3.464052,2.200980,1.263072
4,California,5562,7644,CA,3513,3.759180,2.175918,1.583262
5,Colorado,796,1133,CO,638,3.023511,1.775862,1.247649
6,Connecticut,341,1258,CT,680,2.351471,1.850000,0.501471
7,Delaware,217,853,DE,131,8.167939,6.511450,1.656489
8,District of Columbia,459,1415,DC,266,7.045113,5.319549,1.725564
9,Florida,3909,7072,FL,2220,4.946396,3.185586,1.760811
10,Georgia,2456,4056,GA,1989,3.274007,2.039216,1.234791
11,Hawaii,63,85,HI,145,1.020690,0.586207,0.434483
12,Idaho,166,149,ID,193,1.632124,0.772021,0.860104
13,Illinois,3409,13514,IL,1942,8.714212,6.958805,1.755407
14,Indiana,1608,2956,IN,1171,3.897523,2.524338,1.373185
15,Iowa,273,821,IA,470,2.327660,1.746809,0.580851
16,Kansas,542,931,KS,600,2.455000,1.551667,0.903333
17,Kentucky,1066,1894,KY,762,3.884514,2.485564,1.398950
18,Louisiana,2179,4398,LA,981,6.704383,4.483180,2.221203
19,Maine,112,132,ME,280,0.871429,0.471429,0.400000
20,Maryland,1691,3167,MD,807,6.019827,3.924411,2.095415
21,Massachusetts,472,1701,MA,1022,2.126223,1.664384,0.461840
22,Michigan,1588,2990,MI,1638,2.794872,1.825397,0.969475
23,Minnesota,461,916,MN,578,2.382353,1.584775,0.797578
24,Mississippi,1176,1883,MS,898,3.406459,2.096882,1.309577
25,Missouri,2136,3585,MO,964,5.934647,3.718880,2.215768
26,Montana,154,136,MT,134,2.164179,1.014925,1.149254
27,Nebraska,225,674,NE,308,2.918831,2.188312,0.730519
28,Nevada,799,951,NV,225,7.777778,4.226667,3.551111
29,New Hampshire,88,144,NH,216,1.074074,0.666667,0.407407
30,New Jersey,1168,2540,NJ,1386,2.675325,1.832612,0.842713
31,New Mexico,495,543,NM,311,3.337621,1.745981,1.591640
32,New York,1705,5059,NY,2976,2.272849,1.699933,0.572917
33,North Carolina,2225,4629,NC,2139,3.204301,2.164095,1.040206
34,North Dakota,69,130,ND,77,2.584416,1.688312,0.896104
35,Ohio,2508,5703,OH,1912,4.294456,2.982741,1.311715
36,Oklahoma,941,1550,OK,693,3.594517,2.236652,1.357864
37,Oregon,446,694,OR,407,2.800983,1.705160,1.095823
38,Pennsylvania,2395,5056,PA,2084,3.575336,2.426104,1.149232
39,Rhode Island,63,346,RI,233,1.755365,1.484979,0.270386
40,South Carolina,1610,3084,SC,1610,2.915528,1.915528,1.000000
41,South Dakota,90,114,SD,141,1.446809,0.808511,0.638298
42,Tennessee,1824,4478,TN,1436,4.388579,3.118384,1.270195
43,Texas,5046,6106,TX,3345,3.333931,1.825411,1.508520
44,Utah,282,402,UT,711,0.962025,0.565401,0.396624
45,Vermont,57,73,VT,116,1.120690,0.629310,0.491379
46,Virginia,1459,3566,VA,1257,3.997613,2.836913,1.160700
47,Washington,853,1287,WA,770,2.779221,1.671429,1.107792
48,West Virginia,335,649,WV,627,1.569378,1.035088,0.534290
49,Wisconsin,862,2117,WI,732,4.069672,2.892077,1.177596
50,Wyoming,73,52,WY,141,0.886525,0.368794,0.517730

In [10]:
full_df["Average_Injured"].max()

6.95880535530381

In [12]:
full_df["Average_Killed"].max()

3.551111111111111

In [13]:
full_df.to_csv('Final.csv')

In [14]:
rds_connection_string = f"postgres:{password}@localhost:5432/ETL_Project" 
engine = create_engine(f'postgresql://{rds_connection_string}')

In [17]:
engine.table_names()

['fulldata']

In [16]:
full_df.to_sql(name='fulldata', con=engine, if_exists='append', index=True)